<html ng-app="Maths">
<head>
<link rel="stylesheet" type="text/css" href="customised.css" />
<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>
<body class="container" ng-controller="MathsController as addition">
	<pane title="Addition">
	<h3 align="center">
		{{addition.title}}<i class="icon-pencil">
	</h3>	
	<div class="small">You have got 5 minutes to finish this test. Count the time that you needed to finish it.</div>
	<div class="small">{{addition.date}} </div>
	<br>
	<a href="#/new"><i class="icon-plus-sign"></i></a>
	<table border="0">
		<form name="add">
			<tr ng-repeat="row in addition.rowSource">
				<td valign="top"></td>
				<td>&nbsp;&nbsp;</td>
				<td ng-repeat="cell in row.columns">
					<table border="0">
						<tr class="big">
							<td width="50"></td>
							<td width='50'>{{cell.questionNumber}})</td>
							<td width="10"></td>
							<td width="80">{{cell.num1}}x{{cell.num2}}=</td>
							<td width="50" class="bottomline"></td>
						</tr>
						<tr>
							<td><h1></h1></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</td>
				<td></td>
			</tr>
		</form>
	</table>
	</pane>
	<H1></H1>
	<h1></h1>
	<div class="tiny">{{addition.answers}}</div>
</body>
</html>


